* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  //English Fonts
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Playfair Display", serif;
  //Chinese Fonts
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Playfair Display", serif;
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  text-decoration: none;
}

$background-color-black: #141313;
$color-white: #efefef;
$header-height: 5rem;
$main-pg-height: 95vh;
$subtitle: rgb(250, 154, 0);
$item-button-hover: rgb(248, 164, 29);
$btn-br: 5px;
$product-bgc: #1d1d1d;
$product-bgc-hover: #a06235;

body {
  background-color: $background-color-black;
  /*=================== header-nav ==================*/
  header {
    background-color: $background-color-black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 4;
    height: $header-height;
    box-shadow: 0 10px 15px -15px;
    nav {
      display: flex;
      white-space: nowrap;
      height: 100%;
      .logo {
        display: flex;
        align-items: center;
        margin-left: 0.5rem;
        flex: none;

        > a {
          text-decoration: none;
          color: $color-white;
          font-size: 15px;
          display: flex;
          align-items: center;
          min-height: 100%;
          > img {
            width: 4vw;
            height: 4vw;
          }
        }
      }

      .menu-toggle .bar {
        min-width: 25px;
        min-height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: $background-color-black;
      }

      ul.nav-menu {
        display: flex;
        list-style-type: none;
        justify-content: end;
        align-items: center;
        flex: auto;
        > li {
          display: flex;
          align-items: center;
          height: 100%;

          > a {
            display: flex;
            align-items: center;
            text-decoration: none;
            font-size: 1.2rem;
            color: $color-white;
            padding: 1rem 1rem;
            height: 100%;
            &:hover {
              color: black;
              background-color: white;
              transition: all ease-in 0.3s;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  /*======================= main ==========================*/

  main {
    section.backImage {
      min-width: 100%;
      min-height: $main-pg-height;
      background-image: url(../design_pic/pictures/bg.jpg);
      background-size: cover;
      background-position: center;
      position: relative;
      z-index: 0;
      display: flex;
      text-align: center;
      /*================== filter ============================*/
      .filter {
        background-color: rgba(0, 0, 0, 0.5);
        min-width: 100%;
        min-height: $main-pg-height;
        position: absolute;
        top: 0;
        z-index: -10;
      }
      .title {
        flex: 1 1 50%;
        display: flex;
        position: relative;
        top: -2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .titleText {
          color: white;
          font-size: 3.5rem;
          margin: 4rem 0 1rem 0;
        }

        > h3 {
          font-size: 1rem;
          margin: 0 0 1rem 0;
          animation: fade-in 4s ease 0s 1;
          color: rgba(255, 255, 255, 0.7);
        }
        div {
          > button {
            min-width: 4rem;
            padding: 0.75rem;
            text-align: center;
            margin: 2rem 0;
            border-radius: 10px;
            font-weight: bold;
            border: 2px solid rgb(132, 245, 132);
            font-size: 1rem;
            background: none;
            color: white;
            cursor: pointer;
            position: relative;
            overflow: hidden;

            &:hover {
              color: black;
            }

            &:hover::before {
              transform: scalex(1);
            }

            &::before {
              content: "";
              height: 100%;
              width: 100%;
              position: absolute;
              background: rgb(132, 245, 132);
              left: 0;
              top: 0;
              z-index: -5;
              transition: transform 0.5s;
              transform-origin: 0 0;
              transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
              transform: scalex(0);
            }
          }
        }
      }
    }
  }
  /*========================= second page ============================*/
  .introduction {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $background-color-black;

    > h2 {
      color: $color-white;
      font-size: 1.5rem;
      margin: 2rem 0 2rem 0;

      > span {
        color: $subtitle;
        font-weight: bold;
        font-size: 2rem;
      }
    }

    .cards {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      flex-wrap: wrap;
      min-height: 60vh;

      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        flex: 1 1 33.3%;

        .imageScale {
          overflow: hidden;
          width: 15vw;
          border-radius: 50%;
          > img {
            width: 15vw;
            border-radius: 50%;
            transition: all 0.5s;

            &:hover {
              transform: scale(1.2);
            }
          }
        }

        > span {
          color: $color-white;
          font-size: 1.25rem;
          margin: 0.5rem 0 0 0;
        }

        > a {
          text-decoration: none;
          color: black;
          background-color: $subtitle;
          border-radius: $btn-br;
          padding: 0.25rem 1rem;
          margin: 1rem 0;
          font-size: 1rem;
          transition: all 0.2s ease-in;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  /*========================= third page ============================*/
  .bakery {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;

    .bakery-story {
      display: flex;
      min-height: 90vh;
      flex-wrap: wrap;

      .baker {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1 50%;

        > img {
          width: 25vw;
          height: 25vw;
          object-fit: cover;
        }
      }

      .bakery-decription {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 1 50%;
        padding: 0 1rem;
        > h3 {
          text-align: center;
          font-size: 3rem;
          color: $subtitle;
        }

        > p {
          color: white;
          text-align: center;
        }
      }
    }
  }

  /*========================= forth page ============================*/
  .ourProducts {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100vh;
    background-color: $background-color-black;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 3rem;
    text-align: center;

    .products-title {
      font-size: 3rem;
      margin-bottom: 3rem;
      color: $subtitle;
    }

    .wrap {
      .products {
        display: flex;
        gap: 30px;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 2rem;
        .product {
          display: flex;
          flex-direction: column;
          border-radius: 10px;
          justify-content: center;
          align-items: center;
          flex: none;
          width: 30%;
          background-color: $product-bgc;

          &:hover {
            background-color: $product-bgc-hover;
          }
          > img {
            width: 15vw;
            height: 15vw;
            border-radius: 10px;
            margin-bottom: 20px;
            margin-top: 1rem;
            transition: 0.3s;
            object-fit: cover;
          }

          .product-name {
            font-size: 1.5rem;
            width: 15vw;
            color: $color-white;
            margin-bottom: 1rem;
          }
          .price-quantity {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 15vw;
            margin-bottom: 1rem;
            .price {
              font-size: 1.3rem;
              color: $color-white;
            }
          }
          .add-btn {
            color: black;
            padding: 0.5rem;
            background-color: $subtitle;
            border-radius: 5px;
            border: none;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  /*========================= feedback ============================*/
  .feedback-section {
    background-image: url(../design_pic/pictures/feedback.jpg);
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > h1 {
      font-size: 3rem;
      text-align: center;
      color: $color-white;
    }

    div.border {
      width: 18rem;
      height: 10px;
      background: $subtitle;
      margin: 40px auto;
      margin-top: 10px;
    }

    form.feedback-form {
      min-width: 30vw;
      margin: 0;
      padding: 0 10px;
      overflow: hidden;

      input.feedback-form-text {
        display: block;
        min-width: 100%;
        box-sizing: border-box;
        margin: 16px 0;
        border: 0;
        background: #111;
        padding: 20px 40px;
        outline: none;
        color: #ddd;
        transition: 0.5s;

        &:focus {
          box-shadow: 0 0 10px 4px $subtitle;
        }
      }

      textarea.feedback-form-text {
        resize: none;
        min-width: 30vw;
        min-height: 10rem;
      }
      input.feedback-form-btn {
        float: right;
        min-height: 10rem;
        border: none;
        padding: 1rem;
        background: $subtitle;
        color: #fff;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
          background-color: black;
        }
      }
    }
  }

  /*========================= footer page ============================*/
  footer {
    width: 100%;
    background-color: $background-color-black;
    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .brandName {
        display: flex;
        align-items: center;
        padding-top: 15px;
        > h1 {
          font-size: 2rem;
          color: $color-white;
        }
      }

      .contact {
        text-align: center;
        color: $color-white;
        > span {
          font-size: 1rem;
        }
      }
      > p {
        font-size: 1rem;
        margin: 0 0 1rem 0;
        color: $color-white;
      }
    }
  }

  /*keyframe*/

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

/*=============================== media =================================*/
@media screen and (max-width: 992px) {
  body {
    header {
      nav {
        div.logo {
          justify-content: start;
          flex: none;
          position: relative;

          a {
            > img {
              width: 5vw;
              height: 5vw;
            }
          }
        }

        .menu-toggle {
          position: absolute;
          right: 1rem;
          top: 1.5rem;
          transform: translate(5%, 20%);
          z-index: 5;

          &:hover {
            cursor: pointer;
          }

          .bar {
            background-color: white;
            display: block;
            cursor: pointer;
          }
        }

        .menu-toggle.is-active .bar:nth-child(2) {
          opacity: 0;
        }

        .menu-toggle.is-active .bar:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
          background-color: $background-color-black;
        }

        .menu-toggle.is-active .bar:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
          background-color: $background-color-black;
        }

        ul.nav-menu {
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: absolute;
          top: 2.5rem;
          min-width: 100%;
          min-height: 100px;
          display: none;

          li {
            display: flex;
            justify-content: center;
            background-color: rgb(255, 255, 255);
            min-width: 100%;
            min-height: 100%;
            border-bottom: 3px solid rgb(203, 203, 203);

            &:hover {
              border: black;
            }

            > a {
              display: flex;
              justify-content: center;
              min-width: 100%;
              min-height: 100%;
              padding: 0.5rem;
              color: black;

              &:hover {
                background-color: black;
                transition: all 0.3s ease-in;
                color: $color-white;
              }
            }
          }
        }
        ul.nav-menu.active {
          top: 0;
          display: flex;
          transition: all 0.5s ease;
        }
      }
    }

    main {
      section.backImage {
        align-items: center;
        .title {
          .titleText {
            font-size: 3rem;
            > h2 {
              font-size: 0.7rem;
            }
          }
        }
      }
      .ourProducts {
        .wrap {
          .products {
            .product {
              flex: none;
              width: 40%;
              > img {
                width: 15vw;
                height: 15vw;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    header {
      nav {
        div.logo {
          a {
            > img {
              width: 7vw;
              height: 7vw;
            }
          }
        }
      }
    }
    main {
      section.backImage {
        align-items: center;
        div.title {
          .titleText {
            font-size: 2.4rem;
          }
          > h3 {
            font-size: 0.75rem;
            > button {
              font-size: 0.75rem;
            }
          }
        }
      }
      section.introduction {
        > h2 {
          font-size: 1rem;
          > span {
            font-size: 1.5rem;
          }
        }
        section.cards {
          div.card {
            > span {
              font-size: 1rem;
            }
            > a {
              font-size: 1rem;
            }
            div.imageScale {
              overflow: hidden;
              width: 25vw;
              border-radius: 50%;
              > img {
                width: 25vw;
                border-radius: 50%;
              }
            }
          }
        }
      }
      .bakery {
        .bakery-story {
          max-width: 100%;
          min-height: auto;
          .baker {
            flex-basis: 80%;
            > img {
              width: 40vw;
              height: 40vw;
              margin: 15px;
            }
          }
          .brand-decription {
            > h3 {
              font-size: 2rem;
            }
          }
        }
      }
      section.ourProducts {
        > h2 {
          font-size: 2rem;
        }
        .wrap {
          .products {
            width: 100%;
            .product {
              flex: none;
              min-width: 90vw;
              > img {
                min-width: 20vw;
                min-height: 20vw;
                object-fit: cover;
              }
              .price-quantity {
                width: 100%;
              }
            }
          }
        }
      }
    }

    .feedback {
      .feedback-section {
        > h1 {
          font-size: 2rem;
        }
        .border {
          width: 10rem;
        }
      }
    }

    footer {
      .info {
        .contact {
          p {
            width: 90vw;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  body {
    .ourProducts {
      .wrap {
        .products {
          .product {
            .product-name {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
